
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Liste Offer</h4>
                <div class="form-group mb-4">
                    <input class="form-control" type="text" [(ngModel)]="searchText" placeholder="Filter Offer">
                  </div>
                <table class="table table-hover"  *ngIf="(pageOffer.content | filter: searchText).length > 0; else noResults">
                  <thead>
                    <tr>
                        <th scope="row" *ngIf="searchText !='' "></th>
                      <th>name_offers</th>
                      <th>begin_date</th>
                      <th>end_date</th>
                      <th>description</th>
                      <th>prices</th>
                      <th>types</th>
                      <th>quantity</th>
                    </tr>
                  </thead>
                  <tbody  *ngIf="pageOffer?.content">
                    <tr *ngFor="let Offer of pageOffer.content | filter: searchText; let i = index">
                        <th scope="row" *ngIf="searchText !='' ">{{i + 1}}</th>
                      <td>{{offer.name_offers}}</td>
                      <td>{{offer.begin_date}}</td>
                      <td>{{offer.end_date}}</td>
                      <td>{{offer.description}}</td>
                      <td>{{offer.prices}}</td>
                      <td>{{offer.types}}</td>
                      <td>{{offer.quantity}}</td>
  
                      <td>
                        <a>
                        <i class="mdi mdi-delete-forever"  (click)="deleteOffer(offer)"   ></i>
  
                        <a ><i class="mdi mdi-update"   (click)="updateoffer(offer)" ></i></a>
                        </a>
                     </td>
                    </tr>
                  </tbody>
                </table>
                <ng-template #noResults>
                    <p>No results found for "{{searchText}}".</p>
                  </ng-template>
                    <nav aria-label="...">
                      <ul class="pagination"  *ngIf="pageOffer?.content" >
                        <li *ngFor="let page of ' '.repeat(pageOffer.totalPages).split(''), let i = index " (click)="onSelect(i)" [class.active]="i === selectedPage" class="page-item"><a class="page-link">{{i}}</a></li>
                      </ul>
                      </nav>
            </div>
        </div>
    </div>
  </div>
  
  